<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>50267147295-jiqt98nrdkms1qbpknsbr42u1pc79o7k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaKnw4AIAV9RDWPW1icRq7at-2DtmE94U</string>
	<key>GCM_SENDER_ID</key>
	<string>50267147295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prozigzagDriver</string>
	<key>PROJECT_ID</key>
	<string>pick-and-ride-a7067</string>
	<key>STORAGE_BUCKET</key>
	<string>pick-and-ride-a7067.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>FLTEnableImpeller</key>
    <false />
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50267147295:ios:6aa8ef2f21d6a16e22192a</string>
</dict>
</plist>